/*CSS reset - https://css-tricks.com/snippets/css/meyer-reset/ */
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

.main-container {
  background-color: #eaeaea;
  margin: 1px;
  border-radius: 2px;
  height: 100%;
}

.header{
  padding: 10px 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-size: 1.3em;
  background-color:grey;
}

.header h3 {
  text-align: center;
}

#radio_list, .form-container {
  width: 275px;
  margin: 15px;
  background-color: white;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.5);
  border-radius: 1px;
}

#radio_list > div {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px #eaeaea solid;
  padding-top: 8px;
}

#radio_list input {
  padding: 5px;
}

#radio_list div:last-child {
  border-bottom: 0
}

/*-----radio buttons and labels
-------from http://codepen.io/deitrick/pen/grGHa */
input[type="radio"] {
  display:none;
}

input[type="radio"] + label span {
  display:inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
  border: 1px solid #c9c9c9;
}

input + label:hover, button, #save {
  cursor: pointer;
}

.light input[type="radio"] + label {
  color: #999;
  text-shadow: 1px 1px 0 #fff;
  font: 16px Wellfleet, sans-serif;
  padding: 0;
}

.light input[type="radio"] + label span {
  background-repeat:no-repeat;
  background-position: 3px 3px;
  background-size: 10px 10px;
}

.light input[type="radio"]:checked + label{
  color: #555;
}

.light input[type="radio"]:checked + label span {
   box-shadow: 0 0 2px rgba(0,0,0,0.5);
   background-color: rgba(102, 175, 233, 0.51);
   background-image: url(http://dev.bowdenweb.com/a/i/cons/icomoon/checkmark.png);
}

/*--------Delete Button--------*/

.delete-box, .link-box {
  display: inline-block;
  float: right;
  border: none;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
  opacity: 0.2;
  padding: 0 4px;
  margin-left: 3px;
}

.delete-box:hover{
  opacity: 1;
  background-color: #e74c3c;
}

.link-box:hover{
  opacity: 1;
  background-color: #000;
}

.fa-times, .fa-link {
  font-size: 3px;
  color: #fff;
}

.fa-lg {
  font-size: 1em;
  vertical-align: 0;
}

/*----------Form---------------*/

form {
  display:inline-block;
  width: 100%;
}

.save {
  display: inline-block;
  margin: 12px;
  margin-top: 0;
}

#name, #link {
  width: 90%;
  margin: 10px 12px;
  margin-bottom:10px;
}

#name {
  margin-top: 20px;
}

.footer {
  background-color:grey;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 25px;
}

.info {
  background-color:grey;
  border: none;
}